:root {
  --background-color: #f0f0f0; /* light grey background */
  --primary-color: #ff5722; /* vibrant orange */
  --secondary-color: #212121; /* dark grey */
  --accent-color: #8bc34a; /* vibrant green */
  --text-color: #000000; /* black text */
  --border-width: 3px;
  --secondary-border-width: 2px;
  --border-radius: 8px;
}

html {
  height: 100%;
  width: 100%;
}

main {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: var(--border-width) solid var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
}

input,
textarea {
  border: var(--border-width) solid var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Media Queries for responsiveness */

/* Mobile devices (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .task-container > .state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .all-task-container,
  .archived-task-container {
    grid-template-columns: 1fr;
  }

  .all-task-container > .task,
  .archived-task-container > .task {
    margin: auto;
  }

  .task {
    width: 315px;
  }

  .task-states {
    gap: 8px;
    margin: 10px 0;
  }

  .task-states input[type="radio"] + label {
    padding-left: 21px;
    font-size: 0.7em;
  }

  .task-btns {
    flex-wrap: wrap;
  }
}

/* iPads, Tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .task-states {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
  }

  .task-states input[type="radio"] + label {
    padding-left: 21px;
    font-size: 0.7em;
  }

  .task-btns {
    flex-wrap: wrap;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .task-states {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
  }

  .task-states input[type="radio"] + label {
    padding-left: 21px;
    font-size: 0.7em;
  }

  .task-btns {
    flex-wrap: wrap;
  }
}
